.btn {
  background: transparent;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  color: inherit;
  width: 100%;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &__icon {
    width: auto;
    background: transparent;
  }

  &--light {
    background: $light;
    color: $dark
  }

  &--dark {
    background: $dark;
    color: $light;
  }
}