.table {
	border-collapse: collapse;
	border: none;

	&__row {
		padding: 0.3rem 1rem;
		border-radius: 0.3rem;
		transition: 0.4s;
	}

	&__item {
		padding: 0.3rem;
		vertical-align: middle;
		border-bottom: thin solid hsla(0, 0%, 100%, 0.12);
	}

	tbody .table__row {
		&:hover {
			cursor: pointer;
			background: rgba(244, 244, 244, 0.2);
		}
	}

	.tfoot {
		.table__item {
			border: none;
		}

		.table__item:nth-child(1) {
			text-align: right;
		}

		.table__item:nth-child(2) {
			display: flex;
			text-align: center;
		}
	}

	.btn {
		padding: 0;
	}
}
