// breakpoints
$desctops: 1199.98px;
$tablets: 991.98px;
$laptops: 767.98px;
$phones: 575.98px;

// colors

$orange: #e45028;
$yellow: #f9b43b;
$dark: rgb(30, 30, 30);
$red: #e35028;
$primary: rgb(86, 67, 208);
$light: rgb(213, 213, 213);
