@import "./styles/default.scss";
@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/layouts.scss";

@import "./styles/components/form.scss";
@import "./styles/components/title.scss";
@import "./styles/components/button.scss";
@import "./styles/components/table.scss";
@import "./styles/components/icon.scss";
@import "./styles/components/filter.scss";

.color-wrapper {
	color: $dark;
	padding: 0.3rem;
	border-radius: 0.2rem;

	&.outcome {
		background: $red;
	}

	&.income {
		background: $green;
	}
}
